BODY
{
	font-family: serif; 
	font-size: 12pt;
	margin-bottom: 0px;
	width: auto;
	color: black;
	margin-right: 0px;
	background-color: whitesmoke
}

HR
{
    COLOR: teal
}

H1
{
	font-family: serif; 
	font-size: 14pt;
	font-weight: bold; 
	margin-right:15px;
	color: white;
	padding:5pt;
	background-color: teal
}

H2
{
	font-family: serif; 
	font-size: 12pt;
	font-weight: bold; 
	margin-right:15px;
	color: white;
	padding: 5pt;
	background-color: teal
}

H3
{
	font-family: serif; 
	font-size: 12pt;
	font-weight: bold; 
	margin-right:15px;
	color: teal;
}

A
{
	color: teal; 
	text-decoration: underline;
} 

